@import "tailwindcss";

/* Aquí van los estilos globales */

h1 {
    font-weight: bold;
    font-size: 24px;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    font-size: 16px;
}

label {
    font-weight: 500;
}

input[type="text"], input[type="email"], textarea {
    border: 1px gainsboro solid;
    border-radius: 6px;
    width: 100%;
    margin-top: 2px;
    padding: 5px;
    background-color: white;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
    border: 1px oklch(60.6% 0.25 292.717) solid;
}
