@import "tailwindcss";

/* Variables CSS */
:root {
  --color-main-bg: hsl(255 18% 5%);
  --color-primary: hsl(265 90% 68%);
  --color-primary-foreground: hsl(265 90% 68%);
  --color-border: hsla(0 0% 100% / 0.1);
}

@layer base {
  body {
    background-color: var(--color-main-bg);
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}