---
import { Image } from "astro:assets";
import SocialIcon from "./SocialIcon.astro";
import { SITE_DATA } from "../constants/contants";
---

<header class="w-full">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-3 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="https://devparada.dev">
        <Image
          class="mx-auto"
          src="/avatar.webp"
          alt="Avatar"
          height="40"
          width="40"
          loading="eager"
        />
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-8">
      <a
        href="#proyectos"
        class="text-sm/6 font-semibold hover:underline underline-offset-4"
        >Proyectos</a
      >
      <a
        href="#sobre-mi"
        class="text-sm/6 font-semibold hover:underline underline-offset-4"
        >Sobre mí</a
      >
      <a
        href="#contacto"
        class="text-sm/6 font-semibold hover:underline underline-offset-4"
        >Experiencia</a
      >
    </div>
    <div class="lg:flex lg:flex-1 lg:justify-end">
      <div class="flex gap-2 justify-center">
        <SocialIcon
          name="github"
          href={SITE_DATA.socials.github}
          label="GitHub"
        />
        <SocialIcon
          name="linkedin"
          href={SITE_DATA.socials.linkedin}
          label="LinkedIn"
        />
        <SocialIcon
          name="email"
          href={`mailto:${SITE_DATA.email}`}
          label="Email"
        />
      </div>
    </div>
  </nav>
</header>
