---
const { nombre } = Astro.props;
---

<div
  class="rounded-lg border border-gray-700 px-3.5 py-2.5 text-sm text-foreground transition-all hover:border-purple-600"
>
  <p class="mb-0.5">{nombre}</p>
</div>
