---
const { nombre } = Astro.props;
---

<button class="lenguajes">{nombre}</button>

<style>
  .lenguajes {
    padding: 0.25rem 0.75rem;
    background-color: var(--color-main-bg);
    color: var(--color-primary-foreground);
    font-weight: bold;
    font-size: 0.75rem;
    border-radius: 25px;
    border: 1px solid var(--color-border);
  }
</style>
