---
import Proyecto from "./Proyecto.astro";
---

<div id="container">
  <main class="text-center bg-gray-200">
    <section id="intro" class="py-24 md:py-32">
      <div class="container px-4 md:px-6">
        <div class="flex flex-col justify-center space-y-4 max-w-3xl mx-auto text-center">
          <div class="space-y-2">
            <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
              Hola, soy <span class="text-primary"> Raúl Parada</span>
            </h1>
            <p class="text-gray-500 md:text-xl">
              Desarrollador web especializado en crear sitios web y experiencias
            </p>
          </div>
    </section>
  </main>
  <section class="mt-4" id="sobre-mi">
    <h1 class="text-2xl font-bold">Sobre Mí (En construcción)</h1>
    <p class="mb-1 mt-0.5 text-gray-500">
      Conoce más sobre mi experiencia y trayectoria profesional
    </p>
    <div class="text-left">
      <p class="mb-1 mt-1">
        Soy un desarrollador web apasionado en la creación de aplicaciones web
        modernas y responsivas. Mi enfoque se centra en propocionar soluciones
        elegantes a problemas complejas, manteniendo un enfoque en la usabilidad
        y accesibilidad como prioridades.
      </p>
      <p class="mb-1 mt-1">
        Soy un desarrollador web apasionado en la creación de aplicaciones web
        modernas y responsivas. Mi enfoque se centra en propocionar soluciones
        elegantes a problemas complejas, manteniendo un enfoque en la usabilidad
        y accesibilidad como prioridades.
      </p>
      <p class="mb-1 mt-1">
        Soy un desarrollador web apasionado en la creación de aplicaciones web
        modernas y responsivas. Mi enfoque se centra en propocionar soluciones
        elegantes a problemas complejas, manteniendo un enfoque en la usabilidad
        y accesibilidad como prioridades.
      </p>
    </div>
    <section class="mt-2">
      <h1 class="text-2xl font-bold tracking-tighter sm:text-2xl md:text-2xl">
        Mis Proyectos
      </h1>
      <p class="mt-1 text-muted">
        Una selección de los proyectos en los que he trabajado
      </p>
    </section>
    <section id="proyectos" class="mt-4">
      <Proyecto
        urlProyecto="https://github.com/devparada/RitmosBot"
        urlImg="/ritmos-proyecto.png"
        nombre="RitmosBot"
        descripcion="Bot de música que permite a los usuarios disfrutar de su música en Discord"
      />
      <Proyecto
        urlProyecto="https://tresenrayajs.vercel.app"
        urlImg="/tresenrayajs-proyecto.png"
        nombre="TresEnrayaJS"
        descripcion="Tres en raya hecho en JavaScript"
      />
      <Proyecto
        urlProyecto="https://github.com/devparada/taskvelocity"
        urlImg="/taskvelocity-proyecto.png"
        nombre="TaskVelocity"
        descripcion="Proyecto de fin de ciclo que gestiona tareas y proyectos de cada usuario"
      />
    </section>
  </section>
</div>

<style>
  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
  }

  #sobre-mi {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #proyectos {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    #proyectos {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      line-height: 1.5;
    }
  }
</style>
