---
import "../styles/global.css"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Portfolio personal de Raúl Parada" />
    <link rel="canonical" href="https://devparada.vercel.app/" />
    <link rel="icon" type="image/webp" href="/avatar.webp" />
    <title>Raúl Parada | Portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
