---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Portfolio personal de Raúl Parada - devparada"
    />
    <link rel="canonical" href="https://devparada.vercel.app/" />
    <link rel="icon" type="image/webp" href="/avatar.webp" />
    <link rel="preload" as="image" href="/avatar.webp" type="image/webp" />
    <title>Raúl Parada | Portfolio</title>

    <!-- Open Graph -->
    <meta property="og:title" content="Raúl Parada - FullStack Developer" />
    <meta
      property="og:description"
      content="Explora los proyectos y habilidades de Raúl Parada"
    />
    <meta property="og:url" content="https://devparada.vercel.app/" />
    <meta property="og:site_name" content="Raúl Parada | Portfolio" />
    <meta property="og:locale" content="es_ES" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Raúl Parada - Full Stack Developer" />
    <meta
      name="twitter:description"
      content="Explora los proyectos y habilidades de Raúl Parada"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
